[mysqld]

skip-name-resolve
default_authentication_plugin = mysql_native_password

server-id = 1
log_bin = 1
binlog_format = ROW
binlog_do_db = mydb
gtid-mode = ON
enforce-gtid-consistency = ON
log_slave_updates = ON
binlog_row_image = FULL
net_read_timeout = 3600
net_write_timeout = 3600
wait_timeout = 86400
